mixin capacity
    | Capacity Trends:
    ul(style='list-style-type:circle')
        li storage allocation increased by 10 TB this week
        li storage used increased by 23 TB this week
p #[+capacity]