mixin summary
    | Here is your Enterprise 
    | #[+syn('Summary', 'Report', 'Synopsis', 'Abstract', 'Outline', 'Overview', 'Run-through')] 
    | for the 
    | #[+syn('past', 'gone', 'previous', 'last')] week:
    br
    |  
    ul(style='list-style-type:circle')
        li enterprise summary 1
        li enterprise summary 2
        li enterprise summary 3
p #[+summary]