mixin summary
    | Here is your Enterprise 
    | #[+syn('Summary', 'Report', 'Synopsis', 'Abstract', 'Outline', 'Overview', 'Run-through')] 
    | for the 
    | #[+syn('past', 'gone', 'previous', 'last')] week:
    br
    |  
    ul(style='list-style-type:circle')
        li flash storage
        li a% storage used
        li b% storage allocated
        li c TB orphaned
p #[+summary]