mixin provisioning
    | Provisioning Summary:
    ul(style='list-style-type:circle')
        li Provisioning Summary 1
        li Provisioning Summary 2
        li Provisioning Summary 3
p #[+provisioning]