mixin conclusion
    | #[+syn('Thanks and Regards', 'Best', 'Best regards', 'Thanks')],
    br 
    | Van Symons
    br 
    | CTO
    br 
    | Clear Technologies
    br 
    | e:
    a(href='mailto:vsymons@cleartechnologies.net') vsymons@cleartechnologies.net
    br 
    | p:
    a(href='tel:4693604047') 469.360.4047
p #[+conclusion]