<nav class="navbar navbar-expand-lg navbar-light mb-3">
  <a class="navbar-brand pr-1" href="#">
    <img src="../assets/images/logo.png" alt="Logo" /> |
    <span class="sibyl">SIBYL</span>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul> -->
    <form class="form-inline my-2 my-lg-0 ml-auto">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>

<section class="mb-3">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-4">
        <div class="dropdown show mb-3">
          <a
            class="btn btn-secondary dropdown-toggle"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ selectedClient.name }}
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a
              class="dropdown-item"
              href="#"
              *ngFor="let client of clients"
              (click)="setClient(client)"
              [class.disabled]="
                client.name != 'High Flying Healthcare' &&
                client.name != 'Works Comp'
              "
              >{{ client.name }}</a
            >
          </div>
        </div>
        <button class="btn btn-success" (click)="sendEmail()">
          Send
          <i class="fas fa-paper-plane"></i>
        </button>
      </div>

      <div class="col-lg-8">
        <div class="row mb-3">
          <div class="col-lg-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">From:</span>
              </div>
              <input
                type="text"
                class="form-control"
                value="{{ emailFrom }}"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>

          <div class="col-lg-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">To:</span>
              </div>
              <input
                type="text"
                class="form-control"
                value="{{ setClientEmail(selectedClient.name) }}"
                [(ngModel)]="emailTo"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Subject:</span>
              </div>
              <input
                type="text"
                class="form-control"
                value="{{ emailSubject }}"
                [(ngModel)]="emailSubject"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="selectedClient.name != 'Select a client'">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-6 border border-dark p-3">
        <span *ngFor="let block of blocks" class="position-relative">
          <button
            type="button"
            class="btn btn-light mb-4 mr-4 btn-outline-dark"
            (click)="add(block)"
            [class.selected]="displayBlockOrder[block]"
          >
            {{ block }}
          </button>
          <span
            id="remove"
            *ngIf="displayBlockOrder[block]"
            (click)="remove(block)"
            >Remove</span
          >
        </span>
      </div>
      <div class="col-lg-6 border border-dark p-0" id="email">
        <ejs-richtexteditor
          [(ngModel)]="displayBlockText"
          [toolbarSettings]="tools"
          [fontColor]="fontColor"
        ></ejs-richtexteditor>
      </div>
    </div>
  </div>
</section>
